/*------------------------------------*\
	NAV
\*------------------------------------*/
#admin-menu{
	float:left;
  position:middle;
	width:85%;
	list-style:none;
	font-weight:bold;
  margin-top:5px;
	margin-bottom:3px;
  background:#2c539e;
  text-align:center;
}
#admin-menu li{
	float:left;
	margin-right:10px;
	position:relative;
	display:block;
  margin-left: auto;
  margin-right: auto;

}
#admin-menu li a{
	display:block;
  margin-left: auto;
  margin-right: auto;
	padding:5px;
	color:#FFFF66;
	/* background:#488E48; */
	text-decoration:none;

	text-shadow:1px 1px 1px rgba(0,0,0,0.75); /* Text shadow to lift it a little */
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}
#admin-menu li a:hover{
	color:#fff;
	background:#488E48; /* Solid colour fall-back */
	background:rgba(72,142,72,0.75); /* It'll look nice semi-transparent */

	-moz-transform:scale(1.05);
	-webkit-transform:scale(1.05);
}

/*--- DROPDOWN ---*/
#admin-menu ul{
  display:none;
  position:absolute;
  left:0;
  top:100%;
  padding:0 10px 10px;
  background-color:#488E48;
  border-radius:6px;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;

}
#admin-menu ul li{
	padding-top:1px; /* Introducing a padding between the li and the a give the illusion spaced items */

	float:none;
}
#admin-menu ul a{
	white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
	display:block;
}
#admin-menu li:hover ul{ /* Display the dropdown on hover */
	left:0; /* Bring back on-screen when needed */
	opacity:1; /* Fade to opaque */
}
#admin-menu li:hover a{ /* Set styles for top level when dropdown is hovered */

	background:#488E48; /* Solid colour fall-back */
	background:rgba(72,142,72,0.75); /* It'll look nice semi-transparent */
}
#admin-menu li:hover ul a{ /* Override some top level styles when dropdown is hovered */
	text-decoration:none;
	-webkit-transition:-webkit-transform 0.075s linear;
}
#admin-menu li:hover ul li a:hover{ /* Set styles for dropdown when items are hovered */
	background:#488E48; /* Solid colour fall-back */

	background:rgba(72,142,72,0.75); /* It'll look nice semi-transparent */
	-moz-transform:scale(1.05);
	-webkit-transform:scale(1.05);
}
